*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.userShow
{
    display: none;
    text-align: center;
    /* padding: 20px; */
    width: 100%;
    background-color: red;
}
.userImg
{
    width: 150px;
    height: 150px;
    text-align: center !important;
}

.imagSec
{
    background-color: #172c59;
    color: white;
    padding: 10px;
    text-align: left;
    width: 40%;
}
.aboutMe
{
    padding: 10px 0;
}
h2
{
    font-size: 18px;
    padding: 5px 0;
}
p
{
    font-size: 15px;
    font-family: arial;
}
.userInfo
{
    padding: 10px 20px;
    text-align: left;
    background-color: #fee17d;
    width: 60%;
}
.userTitile
{
    padding: 0 0 20px 0;
}

.userData
{
    padding: 15px 0;
}

.userEdu
{
    padding: 15px 0;
}
.data
{
    justify-content: center;
    display: flex;
}
.underLine1
{
    width: 283px;
    height: 3px;
    background-color: red;
    margin-bottom: 10px;
}
.underLine2
{
    width: 165px;
    height: 3px;
    background-color: red;
    margin-bottom: 10px;
}
.underLine3
{
    width: 107px;
    height: 3px;
    background-color: red;
    margin-bottom: 10px;
}
.underLine4
{
    width: 98px;
    height: 3px;
    background-color: red;
    margin-bottom: 10px;
}
.underLine5
{
    width: 92px;
    height: 3px;
    background-color: red;
    margin-bottom: 10px;
}
.underLine6
{
    width: 74px;
    height: 3px;
    background-color: red;
    margin-bottom: 10px;
}
.examOne
{
    display: flex;
    align-items: center;
}
.school
{
    padding-top: 17px;
    padding-left: 20px;
}
.result
{
    padding-top: 15px;
}
.imagSec p{
    padding:2px;
    line-height: 25px;
}
.userInput
{
    background: #2196f3b5;
    text-align: center;
    color: white;
    padding: 10px;
}
.inputArea
{
    text-align: center;
    padding: 7px;
}
.inputArea h5{
    padding-bottom: 5px;
}
.inputbox
{
    border: none;
    outline: none;
    padding:3px;
}
.submitBtn
{
    background: red;
    color: white;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.downloadBtn
{
    background: red;
    padding: 10px 15px;
    color: white;
    border: none;
    margin: 10px auto;
    text-align: center;
    display: none;
    border-radius: 5px;
}
button
{
    transition: .5s;
    cursor: pointer;
}
button:hover{
    background: black;
}
.fillUp
{
    background: #fee17d;
    color: black;
    padding: 15px;
}
input
{
    transition: .5s;
}
input:hover
{
    transform: scale(1.1);
}
.inputfile
{
    background: black;
    padding: 16px 20px
}
.schooNameList
{
    margin: 5px 10px;
}
.schooNameList input {
    margin: 5px10px;
}
.schooNameList h5
{
    margin-bottom: 8px;
}
.wrongInput
{
    border: 2px solid red;
    padding: 5px;
    border-radius: 5px;
    background: #fafad2;
}
.bgred
{
    color: red;
}
h1#titleName {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-line: underline;
    text-decoration-style: double;
}
@media (max-width:332px){
    .inputfile 
    {
        width: 170px;
    }
}
@media(max-width:230px){
    .schooNameList input {
        margin: 5px 10px;
        width: 150px;
    }
}
